<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand" routerLink="/">POC Articles</a>
    <div class="navbar-nav me-auto">
      <a class="nav-link" routerLink="/categories" routerLinkActive="active">Catégories</a>
      <a class="nav-link" routerLink="/articles" routerLinkActive="active">Articles</a>
      @if (authService.isLoggedIn()) {
        <a class="nav-link" routerLink="/add-article" routerLinkActive="active">Ajouter</a>
      }
    </div>
    <div class="navbar-nav">
      @if (authService.isLoggedIn()) {
        <span class="nav-link text-light">{{ authService.userEmail() }}</span>
        <a class="nav-link" style="cursor:pointer" (click)="authService.logout()">Déconnexion</a>
      } @else {
        <a class="nav-link" routerLink="/login" routerLinkActive="active">Connexion</a>
      }
    </div>
  </div>
</nav>

<router-outlet />